<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <body>
    <div class='cupcake-list'>
      {{#each cupcakes}}
      <div class='cupcake'>
        <p>{{this.flavor}}</p>
        <p>{{this.description}}</p>
        <p>{{this.baker}}</p>
        <p>{{this.ratings}}</p>
        <p>{{averageRating}}</p>
      </div>

    </div>
  </body>
</html>
