<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/main.css'>
    <link href="https://fonts.googleapis.com/css?family=Bowlby+One|Open+Sans" rel="stylesheet">
  </head>
  <body>
    <h1>Rate Your Favorite Cupcakes!</h1>
      <div class='cupcakesList'>
        {{#each cupcakes}}
        <a href='/cupcakes/{{this.id}}'>
          <div class='cupcake'>
            <h3>{{this.flavor}}</h3>
            <p>{{this.description}}</p>
            <p>Baker: {{this.baker}}</p>
            <p>Rating: {{this.averageRating}}</p>
          </div>
        {{/each}}
    </div>
  </body>
</html>
