<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Bowlby+One|Open+Sans" rel="stylesheet">
  </head>
  <body>
    <div class='cupcakeDiv'>
    <div class='cupcake'>
      <h3>{{oneCupcake.flavor}}</h3>
      <p>{{oneCupcake.description}}</p>
      <p>Baker: {{oneCupcake.baker}}</p>
      <div class='allRatings'>
        <p>Votes:</p>
          {{#each oneCupcake.ratings}}
          <span class='vote'>{{this}}</span>
          {{/each}}
      </div>
      <p>Rating: {{oneCupcake.averageRating}}</p>
      <div class='addRating'>
        <form action='cupcakes/rating/{{oneCupcake.id}}' method='post'>
          <input type='number' name='vote' value='3' min='0' max='5'>
          <button>Vote!</button>
        </form>
      </div>
    </div>
  </div>
  </body>
</html>
